@import '../../shared-styles/colors.scss';

.message {
  display: flex;
  margin: 20px 0;

  &-text {
    padding: 10px 20px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    line-height: 24px;
  }

  &__seller {
    flex-direction: row-reverse;

    & .message-text {
      color: $white;
      background-color: $blue;
      margin-right: 10px;
    }
  }

  &__buyer {
    & .message-text {
      color: $black;
      background-color: $white;
      margin-left: 10px;
    }
  }
}
