@import '../../shared-styles/colors.scss';

.chat-preview {
  display: flex;
  border-bottom: 1px solid $white;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: center;

  &-pay-method {
    margin-bottom: 2px;
    color: $black;
  }

  &-amount {
    color: $gray;
    font-size: 14px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    &-status {
      color: $gray;
      margin-bottom: 5px;
    }
  }

  &-user {
    display: flex;
    flex-direction: column;
    flex-basis: 80px;
    align-items: center;

    &-avatar {
      margin-bottom: 5px;
    }

    &-status {
      font-size: 14px;

      &__paid {
        color: $light-green;
      }

      &__not-paid {
        color: $gray;
      }
    }
  }

  &:hover,
  &__active {
    background-color: $light-gray;
    cursor: pointer;
  }

  &-indicator {
    &::before {
      content: ' ';
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: $gray;
    }

    &__unread {
      &::before {
        content: ' ';
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $light-green;
      }
    }
  }
}
